@model Casino.Client.Models.UserProfileViewModel;

<main>
    <header class="col-md-12 content">
        <table border="0" id="gamestable">
            @*<tr><th>Username: </th><th>@Model.User.username</th></tr>*@
            <tr><th>Wins: </th><th>@Model.Wins</th></tr>
            <tr><th>Losses: </th><th>@Model.Losses</th></tr>
            <tr> <th>Win/Loss Ratio: </th><th>@Model.WinLose</th></tr>
            <tr>
                <td>
                    <table border="0" id="gamestable">
                        <tr>
                            <th>White</th>
                            <th>Red</th>
                            <th>Blue</th>
                            <th>Green</th>
                            <th>Black</th>
                            <th>Purple</th>
                            <th>Orange</th>
                        </tr>
                        <tr>
                            <td>@Model.White</td>
                            <td>@Model.Red</td>
                            <td>@Model.Blue</td>
                            <td>@Model.Green</td>
                            <td>@Model.Black</td>
                            <td>@Model.Purple</td>
                            <td>@Model.Orange</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><th>Most Played Game: </th><th>@Model.MostPlayed</th></tr>
        </table>
        <br />
    </header>
</main>