@using Casino.Library.Models;
@model Casino.Client.Models.BlackJackViewModel

@using (@Html.BeginForm())
{

    if(ViewData["game"].Equals("bet"))
    {
        @await Html.PartialAsync("UserBet.cshtml", @Model);
        <button type="submit" name="submitButton" value="bet">Place Bet</button>
    }
    else
    {
        <main>
            <header class="col-md-3"></header>
            <header class="col-md-6 content">
                <p>@Model.Blackjack.status</p>
                <p>Player Score: @Model.Blackjack.playerTotal</p>
                <p>Dealer Score: @Model.Blackjack.dealerTotal</p>
                <p>Your Bet: </p>

                @foreach (var item in @Model.Bet.Keys)
    {
            <p>@item.ToString() @Model.Bet[@item]</p>
}

                @if (Model.Blackjack.status.Equals("playing"))
    {
            <button type="submit" name="submitButton" value="hit">Hit Me</button>
            <button type="submit" name="submitButton" value="stand">Stand</button>
}
else
{
            <button type="submit" name="submitButton" value="play">Play Again</button>
}
            </header>
            <header class="col-md-3"></header>
        </main>
    }
}

