@model Casino.Client.Models.CFViewModel;

@using (@Html.BeginForm())
{
    <main>
        <header class="col-md-3"></header>
        <header class="col-md-6 content">

            @if (Model.fight.status.Equals("choosing"))
            {
                <table class="col-md-12 content">
                    <tr>
                        <td>Chicken A</td>
                        <td>Chicken B</td>
                    </tr>
                    <tr>
                        <td>Health: @Model.fight.chickenA.Health</td>
                        <td>Health: @Model.fight.chickenB.Health</td>
                    </tr>
                    <tr>
                        <td>Attack: @Model.fight.chickenA.Attack</td>
                        <td>Attack: @Model.fight.chickenB.Attack</td>
                    </tr>
                    <tr>
                        <td>Evasion: @Model.fight.chickenA.Evasion</td>
                        <td>Evasion: @Model.fight.chickenB.Evasion</td>
                    </tr>
                </table>
                <button type="submit" name="submitButton" value="chickenA">Bet On A</button>
                <button type="submit" name="submitButton" value="chickenB">Bet On B</button>
            }
            else
            {
                <p>@Model.fight.status</p>
                <p>Chicken A's Health: @Model.fight.chickenA.Health</p>
                <p>Chicken B's Health: @Model.fight.chickenB.Health</p>
                <button type="submit" name="submitButton" value="play">Play Again</button>
            }
        </header>
        <header class="col-md-3"></header>
    </main>
}
